<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictating - LexiLeap</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/practice.css">
    <link rel="stylesheet" href="../../css/dictating.css">
</head>

<body>

<div id="main-header">
</div>

<div id="dictating-source">
    <div class="practice-container">
        <div class="word">
            <div id="dictating-cursor">|</div>
            <div id="dictating-word">

            </div>
        </div>
        <div class="meaning" id="dictating-meaning">

        </div>
        <div class="tags" id="dictating-tags">

        </div>
    </div>
</div>
</body>

<footer>
    <script type="module" src="../../js/header.js"></script>
    <script type="module" src="../../js/exercise/Dictating.class.js"></script>
</footer>

</html>