<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice - LexiLeap</title>

    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/practice.css">
</head>
<body>

<div id="main-header">
</div>

<div id="question-content">

</div>

<div class="navigation">
    <div class="prev-word" id="prev-word">
        <div class="prev-text1">
            上一题
        </div>
    </div>
    <div class="prev-word" id="next-word">
        <div class="prev-text2">
            下一题
        </div>
    </div>
</div>

</body>
<footer>
    <script type="module" src="../../js/header.js"></script>
    <script type="module" src="../../js/practice.js"></script>
</footer>
</html>