<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice - LexiLeap</title>

    <link rel="stylesheet" href="/LexiLeap/general/css/general.css">
    <link rel="stylesheet" href="/LexiLeap/general/css/header.css">
    <link rel="stylesheet" href="/LexiLeap/general/css/practice.css">
</head>
<body>

<div id="main-header">
    <div class="header-nav">
        <h3 class="logo-text">LexiLeap</h3>
        <nav class="header-links">
            <a href="#" class="nav-link ">练习</a>
            <a href="#" class="nav-link ">词库</a>
            <a href="#" class="nav-link ">记录</a>
            <a href="#" class="nav-link ">个人</a>
        </nav>
    </div>
</div>

<div id="question-content">

</div>

<div class="navigation">
    <div class="prev-word" id="prev-word">
        <div class="prev-text1" >上一题</div>
        <div class="prev-text2" >下一题</div>
    </div>
</div>

</body>
<footer>
    <script type="module" src="../../js/practice.js"></script>
</footer>
</html>