<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching - LexiLeap</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/practice.css">
    <link rel="stylesheet" href="../../css/matching.css">
</head>

<body>

<div id="main-header">
    <div class="header-nav">
        <h3 class="logo-text">LexiLeap</h3>
        <nav class="header-links">
            <a href="#" class="nav-link ">练习</a>
            <a href="#" class="nav-link ">词库</a>
            <a href="#" class="nav-link ">记录</a>
            <a href="#" class="nav-link ">个人</a>
        </nav>
    </div>
</div>

<div id="matching-source">
    <div class="practice-container">
        <div class="matching-selections">
            <div class="matching-column" id="matching-left">

            </div>
            <div class="matching-column" id="matching-right">

            </div>
        </div>

    </div>
</div>
</body>

<footer>
    <script src="../../js/exercise/Matching.js" type="module"></script>
</footer>

</html>