<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching - LexiLeap</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/practice.css">
    <link rel="stylesheet" href="../../css/matching.css">
</head>

<body>

<div id="main-header">
</div>

<div id="matching-source">
    <div class="practice-container">
        <div class="matching-selections">
            <div class="matching-column" id="matching-left">
                <!-- 左侧待匹配项 -->
            </div>
            <div class="matching-column" id="matching-right">
                <!-- 右侧待匹配项 -->
            </div>
        </div>

    </div>
</div>
</body>

<footer>
    <script type="module" src="../../js/header.js"></script>
    <script type="module" src="../../js/exercise/Matching.class.js"></script>
</footer>

</html>