<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple-Choice - LexiLeap</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/practice.css">
    <link rel="stylesheet" href="../../css/multiple-choice.css">
</head>

<body>

<div id="main-header">
</div>

<div id="multiple-choice-source">
    <div class="practice-container">
        <div class="word">
            <div id="multiple-choice-word">
                Abundant
            </div>
        </div>

        <div class="tags" id="multiple-choice-tags">
            <div class="tag">
                <div class="tag-node" style="background-color: #99FF99;"></div>
                <span class="tag-name">adj</span>
            </div>
        </div>

        <div class="selection-buttons" id="multiple-choice-answers">
        </div>
    </div>
</div>
</body>

<footer>
    <script type="module" src="../../js/header.js"></script>
    <script type="module" src="../../js/exercise/MultipleChoice.class.js"></script>
</footer>

</html>