<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching - LexiLeap</title>
    <link rel="stylesheet" href="/LexiLeap/general/css/general.css">
    <link rel="stylesheet" href="/LexiLeap/general/css/header.css">
    <link rel="stylesheet" href="/LexiLeap/general/css/practice.css"></link>
    <link rel="stylesheet" href="/LexiLeap/general/css/matching.css">
</head>

<body>

<div id="main-header">
    <div class="header-nav">
        <h3 class="logo-text">LexiLeap</h3>
        <nav class="header-links">
            <a href="#" class="nav-link ">练习</a>
            <a href="#" class="nav-link ">词库</a>
            <a href="#" class="nav-link ">记录</a>
            <a href="#" class="nav-link ">个人</a>
        </nav>
    </div>
</div>

<div id="matching-source">
    <div class="word-container">
        <div class="word">
            <div id="matching-word">

            </div>
        </div>

    </div>
</div>
</body>

<footer>
    <script src="/LexiLeap/general/js/exercise/spell.js" type="module"></script>
</footer>

</html>