#dictating-cursor {
    font-size: 56px;
    position: relative;
    color: #f97316;
    top: -8px;
    left: 6px;

    transition: 0.1s ease-out;
    animation: block-blink 1s infinite;
}

#dictating-cursor.checked {
    color: transparent;
    animation: none;
}

@keyframes block-blink {
    0%, 100% { color: #f97316; }
    50% { color: transparent; }
}

#dictating-word {
    font-family: Consolas, monospace;
    align-items: center;
    justify-content: center;
}

letter {
    color: #808080;
    transition: color 0.25s ease-out;
}

letter.hint {
    color: #202020;
}

/* 成功状态（绿色） */
letter.success {
    color: #22c55e; /* 绿色 */
}

/* 失败状态（红色） */
letter.failed {
    color: #ef4444; /* 红色 */
}

/* 悬停状态（橙色） */
letter.hover {
    color: #f97316;
    animation: block-blink 1s infinite;
}

/* 中文释义样式 */
#dictating-meaning {
    font-size: 20px;
    color: #657b83;
    margin-top: 20px;
}