body {
    background-color: #fffbed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden  {
    display: none;
}

.warning {
    color: #f85555;
    font-family: Consolas monospace;
    font-weight: bold;
    horiz-align: center;
}