.logo-text {
    font-size: 24px;
    font-weight: 700;
    padding: 0 0.8rem; /* 文字左右内边距 */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h1, .h2, .h3{
    color: #404040;
    font-family: "Consolas", monospace;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;/*宽度父容器*/
    padding: 0.4rem 0;/*上下内边距为0.5rem 左右无内边距*/
    z-index: 100;
    margin: 0 auto;
}

.header-nav {
    background-color: #f1ede080;
    width: 88%; /* 宽度88% */
    max-width: 1200px;
    z-index: 50;/* 设置层级（用于控制元素重叠时的显示顺序） */
    display: flex; /* 启用弹性布局 */
    border-radius: 9999px;/*圆角值*/
    justify-content: space-between; /* 左右分布 */
    align-items: center;
    padding: 0 3%;
    margin: 1rem auto;

    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);

    transition: background-color 0.5s, backdrop-filter 0.5s;
    backdrop-filter: blur(6px);
}

.header-nav:hover {
    background-color: #e1ddd080;
    backdrop-filter: blur(12px);
}

.header-links{
    display: flex;
    gap: 1.2rem;
}

.nav-link{
    color: #2a2a2a;
    background-color: #eceae200;
    text-decoration: none;
    transition: background-color 0.5s;
    padding: 0.3rem 1.2rem;
    border-radius: 40px;
    font-size: 1rem;
}

.nav-link:hover {
    background-color: #eceae2ff;
}

.nav-link.active{
    color: rgba(64,64,64, 0.8);
}