#matching-word {
    font-family: Consolas, monospace;
    align-items: center;
    justify-content: center;
}

.matching-selections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    min-width: 32rem;
    min-height: 16rem;
    column-gap: 2.0rem;
}

.matching-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matching-button {
    font-size: 24px;
    font-family: Arial, sans-serif, Consolas, monospace;
    font-weight: bold;

    color: #404040;
    background-color: #fbf6e5;
    border: 4px solid #e4e0c8;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 4px 0;
    min-height: 4rem;
    box-shadow: 0 4px 0 #e4e0c8;

    transition: 0.5s ease;
}

.matching-button:hover {
    background-color: #e5fbf8;

    border-color: #c8e1e4;
    box-shadow: 0 2px 0 #c8e1e4;
    transform: translateY(2px);
}

.matching-button.selected {
    background-color: #e5f2fb;

    border-color: #c8d7e4;
    box-shadow: 0 2px 0 #c8d7e4;
    transform: translateY(2px);
}

.matching-button.correct {
    background-color: #c3efd4;
    border-color: #74cf95;

    transition: 0.2s ease-out;
    box-shadow: 0 0 0 #c8d7e4;
    transform: translateY(4px);
}

.matching-button.incorrect {
    animation: incorrect-animate 1.0s ease;
}

.matching-button.blocked {
    border-color: #bababa;
    background-color: #dadada;

    pointer-events: none;
}

@keyframes incorrect-animate {
    0% {
        border-color: #c8d7e4;
        background-color: #e5f2fb;
        box-shadow: 0 2px 0 #c8d7e4;
        transform: translateY(2px);
    }
    30% {
        border-color: #ea9292;
        background-color: #f6cece;
        box-shadow: 0 0 0 #ea9292;
        transform: translateY(4px);
    }
    100% {
        background-color: #fbf6e5;
        border-color: #e4e0c8;
        box-shadow: 0 4px 0 #e4e0c8;
    }
}