#spelling-cursor {
    font-size: 56px;
    position: relative;
    color: #f97316;
    top: -8px;
    left: 6px;

    transition: 0.1s ease-out;
    animation: block-blink 1s infinite;
}

#spelling-cursor.checked {
    color: transparent;
    animation: none;
}

@keyframes block-blink {
    0%, 100% { color: #f97316; }
    50% { color: transparent; }
}

#spelling-word {
    font-family: Consolas, monospace;
    align-items: center;
    justify-content: center;
}

.shake {
    animation: shake infinite 0.25s;
}

letter {
    color: #808080;
    transition: color 0.25s ease-out;
}

/* 成功状态（绿色） */
letter.success {
    color: #22c55e; /* 绿色 */
}

/* 失败状态（红色） */
letter.failed {
    color: #ef4444; /* 红色 */
}

letter.checked {
    animation: checked 1.0s ease-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

@keyframes checked {
    0% { text-shadow: none }
    25%  { text-shadow: 0 0 10px #7dffae; }
    75%  { text-shadow: 0 0 10px #7dffae; }
    100% { text-shadow: none; }
}

/* 中文释义样式 */
#spelling-meaning {
    font-size: 20px;
    color: #657b83;
    margin-top: 20px;
}